# Dependencies
node_modules/

# Environment variables
.env

# System artifacts
.DS_Store
Thumbs.db

# Backend Storage (Local artifacts - using Cloudinary for production)
backend/uploads/*
!backend/uploads/.gitkeep
backend/public/thumbnails/*
!backend/public/thumbnails/.gitkeep

# Frontend Build
frontend/dist/
frontend/build/
frontend/.eslintcache
